#cards {
  display: flex;
  flex-wrap: wrap;
  width: 85%; /* 新增：寬度和標頭一致 */
  margin: 0 auto;  /* 新增：置中 */
}
.card {
  /* 卡片外部排版 */
  /* flex-basis:每個元素的占比, flex-grow: 剩餘空間的分配0=不分配, flex-shrink:畫面縮小時的縮放比例1=等比 */
  flex: 7% 1 1;
  /* 高度: 依視窗的寬度等比例變化, 100vw=占滿整個畫面高 */
  height: 8vw;
  border: 2px solid #e0e0e0;
  /* 卡片內部排版 */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 2px;
  box-sizing: border-box;
}
/* U38底下同學&助教問答補充
px : 絕對單位，因此適合精準排版。
em : 基於一個度量"全部"等比例縮放。<--這個描述可能還不夠嚴謹，em 是根據上層節點為基準，來做改變。
rem: 基於一個度量"特定地方"等比例縮放。<--rem 的基準是網頁的根節點，就是 html 標籤。
% : 使用上和em類似，但不清楚差別。 <--它的用法和 em 相似
vx、vh: 可以根據瀏覽器的高度與寬度等比例縮放，進行更好的RWD設計。 
最好一份 CSS 不要超過兩種單位，否則在維護上會比較麻煩喔～*/


.card img {
  max-width: 30%;
  /* 排交叉軸用 */
  align-self: center;
}
/* 卡片字在卡上 */
.card p {
  /* 強制改變瀏覽器預設的邊界 */
  margin: 3px;
  font-size: 10px;
}
/* 卡片下面的文字要倒過來 */
.card p:last-child {
  /* 轉180度 */
  transform: rotate(180deg);
}
.back {
    background: url('https://assets-lighthouse.alphacamp.co/uploads/image/file/9222/ExportedContentImage_00.png');
    background-size: cover;
}

.paired {
  background-color: #dae0e3;
}

/* 標頭 */
#header {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: flex-end;
  width: 85%;
}
#header .title {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
#header .title img {
  max-width: 3em;
}
#header .title h2 {
  padding-left: 0.5em;
}
#header .score {
  margin: 0;
  color: #6c90ac;
}
#header .tried {
  margin-top: 0;
}

/* 加入錯誤時的動畫效果 */
.wrong {
  animation-name: wrongAnimation;
  animation-duration: 0.2s;
  animation-iteration-count: 5;
}
@keyframes wrongAnimation {
  to {
    border: 2px solid #ffd54f;
  }
}

/** Game finished **/
.completed {
  position: absolute;
  z-index: 999;
  top: 33vh;
  background-color: RGBA(232, 246, 254, 0.8);
  width: 100vw;
  padding: 50px 0;
}
.completed > p {
  font-size: 1.5em;
  color: black;
  text-align: center;
  margin: 0;
}
.completed > p:first-child {
  font-size: 3em;
  font-weight: 700;
  color: #758d9a;
}